.timePicker {
    border: 1px solid #45474D;
    width: 7.5em;
    padding: 0.75em 1.4em;
    text-align: center;
    border-radius: 1em;

    span {
        font-size: 1.1rem;

        &.selected {
            background-color: var(--task-colour);
            font-weight: bold;
            border-radius: 0.2em;
            margin-inline: 0.2em;
            padding: 0.25em;
        }

        &:hover {
            cursor: pointer;
        }
    }
};