// .overlay {
//     position: fixed;
//     inset: 0;
//     top: 6em;
// }

.calenderModal {
    background-color: #2F2F2F;
    width: 25em;
    height: auto;
    padding: 1em;
    padding-bottom: 2.5em;
    position: absolute;
    left: 2em;
    border-radius: 1em;
    // display: none;

    .headerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        cursor: pointer;
        // border: 1px red solid;


        .date {
            display: flex;
            align-items: center;
            gap: 0.5em;
            font-size: 1.5rem;

            .rightArrowIcon {
                // border: 1px red solid;
                height: 40px;
                transform: rotate(180deg);
                svg {
                    color:#00AAFF;
                }
            }

            span {
                color: #00AAFF;
            }
        }
    }
}