.iconModalContainer {
    background-color: #1C1C1E;
    position: absolute;
    left: 2em;
    top: 8em;
    width: 22em;
    height: auto;
    border-radius: 1em;
    padding-inline: 2em;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-block: 1em;


        .buttonContainer{
            margin: auto 0;
            button{
                position: unset !important;
                border: 1px rgb(255, 255, 255) solid !important;
                
                svg {
                    width: 1.2em;
                    height: 1.2em;
                    // width: 1.2em !important;
                    position: absolute;
                }
            }
        }
    }

    .colourPicker {
        border: 1px #686868 solid;
        padding: 0.5em;
        border-radius: 2em;
        display: flex;
        justify-content: space-between;

        button {
            position: unset !important;
            width: 1.8em !important;
            aspect-ratio: 1/1;

            &.selected{
              border: 2px solid #FFF !important;  
            }
        }

    }

    .iconCategories {
        ul{
            margin-block: 1em;
            padding: 0.75em 1em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px #686868 solid;
            color: #686868;
            border-radius: 2em;
            // width: auto;
            li {
                // margin: auto;
                display: flex;
                list-style: none;

                &.selected {
                    color: white;
                }   

                svg {
                    width: auto !important;
                    // aspect-ratio: 1/1;

                    &:hover {
                        cursor: pointer;
                        color: white;
                    }
                }
            }
        }
    }

    .iconsContainer{
        // display: flex;
        // justify-content: center;
        ul {
            display: grid !important;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            gap: 1em 1.3em;
            margin-top: 1em;
            // margin: auto;

            li {    
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;
                border: 1px #686868 solid;
                color: #686868;
                width: 2.5em;
                aspect-ratio: 1/1;
                border-radius: 50%;
                
                &:hover, &.selected{
                    color: white;
                    border: 1px white solid;
                    cursor: pointer;
                }



                
                svg{
                    width: auto !important;

                    // &.selected {
                    //     color: white;
                    // }
                }
            }
        }
    }
}