header {
    // position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // top: 0;
    // left: 0;
    width: 100%;
    height:6em;
    padding: 1.2em 2em; /* use padding instead of margin */
    box-sizing: border-box;
    
    .dateControlsContainer {
        display: flex;
        align-items: center;
        gap: 2em;

        button {
            background-color: transparent;
            border: none;
        }


        .calenderButton {
            display: flex;
            align-items: center;
            gap: 1em;
            // background-color: transparent;
            // border: none;

            h1 {
                margin: 0em;
                font-size: 3rem;
            
                span {
                    color: #00AAFF;
                }
            }

            svg {
                margin-top: 0.3em;
            }
        }

        .changeDateButtons {
            margin-top: 0.3em;

            .prevDayButton {
                margin-right: 1em;
            }
        }
    }



}